.header{
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 20px;
}
a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 45px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.7s;
}
a:hover{
    font-size: 24px;
    color: rgb(142, 175, 223);
}
.nav{
    display: inline;
}
.about{
    border: dashed red;
}
.container-ava{
margin-top: 20px;
}
.ava{
    width: 250px;
}